{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="container">
  <div class="border rounded p-4 m-4"> 
      <h2 class="dispay-9 pl-4 ml-4" align="left">
          Shopping Cart
      </h2>
      <hr>
    <!-- {{products}} -->
    <table class="table">
        <thead>
            <!-- <tr> -->
                <th>Sno.</th>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            <!-- </tr> -->
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                <td>{{product.name}}</td>
                <td><bold style="font-size:12px">{{request.session.custom_filter|currency}}</bold>{{product.price}}</td>
                <td>{{product|cart_quantity:request.session.cart}}</td>
                <td><bold style="font-size:12px">{{request.session.custom_filter|currency}}</bold>{{product|price_total:request.session.cart}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4"></th>
                <th class="text-center float-right">Subtotal({{products|cart_quantity_sum:request.session.cart}} item):</th>
                <th><bold style="font-size:12px">{{request.session.custom_filter|currency}}</bold>{{products|total_cart_price:request.session.cart}}</th>
            </tr>
        </tfoot>
    </table>
    <div class="m-3 p-3">
        <a href="#" class="btn btn-outline-info border rounded col-lg-3 float-right" data-bs-toggle="modal" data-bs-target="#exampleModal">Checkout</a>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout Form</h5><hr>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/checkout" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>

                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                <br>
                <input type="submit" class="btn float-right btn-outline-info col-lg-6" value="Check-out">
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}