{% extends 'base.html' %}

{% block content %}
{% load custom_filter %}

<div id="div-spacer">
    <br>
    <br>
  </div>

<div class="container-fluid mt-4">
    <i class="bi bi-cart"></i>
  <div class="row">
    <!-- filter -->
    <div class="col-lg-2 mx-auto">
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">Categories</a>
        <a href="/" class="list-group-item list-group-item-action">All</a>

        {% for category in categories %}
        <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
        {% endfor %}
      </div>
    </div>

    <!-- all products -->
    <div id="products" class="col-lg-3">
      <div class="row mx-auto">
        <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
        <a href="/proddesc"><img src="{{products.image.url}}" class="card-img-top" alt="..." style="height: 450px; width: 20; "></a>
        <div class="card-body">
          <p class="card-title">{{products.name}}</p>
          <p class="card-text"><b><bold style="font-size:12px">{{request.session.custom_filter|currency}}</bold>{{products.price}}</b></p>
          
          
        </div>
        <div>

          <div class="p-0 no-gutters">
            <div class="row">
           
            <form action="/#{{product.id}}" method="POST">
              {% csrf_token %}
              <input hidden type="text" name="product" value="{{product.id}}">
              <i class="fas fa-shopping-cart" style="color: rgb(65, 59, 59);">
                <input type="submit" class="btn btn-warning btn-sm border" value="Add To Cart">
              </i> 
              
              
            </form>
            
          </div>
          
        </div>
      </div>
    </div>
    </div>
  </div>
  <div id="div-spacer">
    <br>
    <br>
  </div>
</div>


{% endblock %}